h2{
  text-align: center;
  font-family: 'Secular One', sans-serif;
  font-size: 2em;
  color: darkred;
  padding: 10px;
}
#navbar ul li {
    display:inline-block;
    padding: 20px;
    font-family: Arial;
}
#navbar{
  text-align: center;
  background-color: darkred;
  text-decoration: none;
}
a {
   text-decoration: none;
   color: white;
}
body{
  background-image: url("../pictures/pattern.jpg");
}
#intro_pic{
  width: 250px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px;
}
#intro{
  width: auto;
  text-align: center;
  background-color: white;
  font-family: Arial;
  line-height: 32px;   /* within paragraph */
  margin-bottom: 30px;
}
 p{
  font-size: 20px;
  padding: 10px;
  font-family: 'Secular One', sans-serif;
  color: darkblue;
}
img{
  width:300px;
}
.jewel_container, .wheels_container{
  text-align: center;
  font-family: ariel;
  font-size: 18px;
}
#logo_div{
}
#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}
input[type=text], #email, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
#btn{
  text-align: center;
}
#contact_par{
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: 20px;
}
#container label{
  font-size: 22px;
}
/*small mobile screen */
@media screen and (max-width: 480px) {
  #navbar ul li {
      display: inline-block;
      padding: 8px;
      font-family: Arial;
  }
  #container{
    margin: 10px;
    padding: 20px;
    background-color: grey;
   }
  }
/* Desktop screen */
@media screen and (min-width: 780px) {
  #container{
    width: 600px;
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 10px;
    background-color: grey;
   }
   #contact_par{
     padding: 20px;
   }
  #intro{
    width: 800px;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
  }
}
