h2{
  text-align: center;
}
#navbar ul li {
    display:inline-block;
    padding: 20px;
    font-family: Arial;
}
#navbar{
  text-align: center;
  background-color: darkred;
  text-decoration: none;
}
a {
   text-decoration: none;
   color: white;
}
body{
  background-image: url("./pictures/pattern.JPG");
}
#intro_pic{
  width: 300px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#intro{
  width: auto;
  text-align: center;
  background-color: white;
  font-family: Arial;

}
img{
  width:300px;
}
.jewel_container, .wheels_container{
  text-align: center;
  font-family: ariel;
  font-size: 18px;
}
